# Data Science with Python Pandas



# Exploring Series

In [2]:
import pandas as pd
import numpy as np

In [6]:
# Create a series
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a   -1.800398
b   -0.656231
c   -0.153291
d   -0.910432
e   -0.946485
dtype: float64

In [4]:
# Preserve the serie in variable s for later access
s = pd.Series(np.random.randn(5))
print(s)

0   -0.675810
1    0.207566
2    0.214485
3   -1.650531
4   -1.838802
dtype: float64

In [5]:
# Index
print (s[0])
print ("\n")
print (s[:3])

-0.675809787447


0   -0.675810
1    0.207566
2    0.214485
dtype: float64

# Exploring DataFrames

In [7]:
# Create a dataframe
df = pd.DataFrame(s, columns = ['Column 1'])
df

   Column 1
0 -0.675810
1  0.207566
2  0.214485
3 -1.650531
4 -1.838802

In [8]:
# Can access columns by name
df['Column 1']

0   -0.675810
1    0.207566
2    0.214485
3   -1.650531
4   -1.838802
Name: Column 1, dtype: float64

In [9]:
# Easy to add columns
df['Column 2'] = df['Column 1'] * 4
df

   Column 1  Column 2
0 -0.675810 -2.703239
1  0.207566  0.830266
2  0.214485  0.857939
3 -1.650531 -6.602125
4 -1.838802 -7.355208

In [11]:
# Other manipulation, like sorting -- if you want to preserve, set equal to a var -- ordernar pela coluna 2
df.sort_values(by = 'Column 2')

   Column 1  Column 2
4 -1.838802 -7.355208
3 -1.650531 -6.602125
0 -0.675810 -2.703239
1  0.207566  0.830266
2  0.214485  0.857939

In [12]:
# Boolean indexing -- como se fosse uma cláusula where do banco de dados
df[df['Column 2'] <= 2]

   Column 1  Column 2
0 -0.675810 -2.703239
1  0.207566  0.830266
2  0.214485  0.857939
3 -1.650531 -6.602125
4 -1.838802 -7.355208

In [13]:
# cria uma função somando o menor valor com o maior valor
df.apply(lambda x: min(x) + max(x))

Column 1   -1.624317
Column 2   -6.497269
dtype: float64

In [14]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean  -0.748618 -2.994473
std    0.980957  3.923827
min   -1.838802 -7.355208
25%   -1.650531 -6.602125
50%   -0.675810 -2.703239
75%    0.207566  0.830266
max    0.214485  0.857939